<div class="main-container">
    <div class="container text-center">
        <div class="iframe-container" >
            <div class="loading-infos">
                <span class="big-loader"></span>
                <p class="loader-text">Random done, fap incomming</p>
            </div>
            <div class="iframe-wrapper" style="display: block">
                {{{ iframe }}}

            </div>
            <button class="btn btn-danger btn-lg btn-reload">Give me another random fap !</button>
        </div>
        <div class="share-container">
            <button class="btn btn-tw-share">
                <i class="fa fa-twitter" aria-hidden="true"></i> Twitter
            </button>
            <button class="btn btn-sm btn-fb-share">
                <i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook
            </button>
            <button class="btn btn-warning btn-sm btn-share" data-toggle="modal" data-target=".share-link-modal">
                <i class="fa fa-share-alt" aria-hidden="true"></i> Share link
            </button>
        </div>
    </div>
</div>
