nav a.navbar-brand {
    padding: 0;
}

nav a.navbar-brand div.brand {
    display: flex;
    padding-top: 2px;
    align-items: center;
    color: white;
}

nav a.navbar-brand div.brand img {
    margin-right: 5px;
}

div.main-container {
    padding-top: 60px;
}

div.iframe-container {
    margin: 20px;
    position: relative;
}

div.iframe-wrapper {
    display: none;
    position: relative;
}

div.wheel-wrapper {
    display: inline-block;
    position: relative;
}

div.btn-launch {
    position: absolute;
    width: 250px;
    height: 250px;
    top: 125px;
    left: 125px;
    border-radius: 125px;
    font-size: 25px;
    color: #fff;
    background-color: #f387b2;
    border-color: #f381ae;
    text-align: center;
    line-height: 250px;
    vertical-align: middle;
}

div.btn-launch:hover {
    cursor: pointer;
    color: #fff;
    background-color: #e16697;
    border-color: #cf5686;
}

div.wheel-wrapper img.turn {
    animation: turn 20s linear infinite;
}

div.wheel-container.collapse-wheel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    animation: gobehind 0s linear 1s forwards;
}

div.wheel-container .wheel-wrapper.collapse-wheel {
    animation: collapse 1s linear;
    animation-fill-mode: forwards;
}

@keyframes turn {
    from { transform: rotateZ(0deg);}
    to { transform: rotateZ(360deg);}
}

@keyframes collapse {
    100% {
        transform: scale(0);
    }
}

@keyframes gobehind {
    100% {
        z-index: -1;
    }
}
