nav a.navbar-brand {
    padding: 0;
}

nav a.navbar-brand div.brand {
    display: flex;
    padding-top: 2px;
    align-items: center;
    color: white;
}

nav a.navbar-brand div.brand img {
    margin-right: 5px;
}

div.main-container {
    padding-top: 60px;
}

div.iframe-container {
    margin: 20px;
    position: relative;
    max-width: 100%;
}

div.iframe-wrapper {
    display: none;
    position: relative;
}

div.iframe-wrapper iframe {
    max-width: 100%;
}

div.wheel-wrapper {
    display: inline-block;
    position: relative;
}

div.btn-launch {
    position: absolute;
    width: 250px;
    max-width: 50%;
    height: 250px;
    max-height: 50%;
    top: 25%;
    left: 25%;
    border-radius: 50%;
    font-size: 25px;
    color: #fff;
    background-color: #f387b2;
    border-color: #f381ae;
    display: flex;
    align-items: center;
}

div.btn-launch > p {
    width: 100%;
    word-wrap: break-word;
}

div.btn-launch:hover {
    cursor: pointer;
    color: #fff;
    background-color: #e16697;
    border-color: #cf5686;
}

div.wheel-wrapper img.turn.slow {
    animation: spin 20s linear infinite;
    -webkit-animation: spin 20s linear infinite;
    max-width: 100%;
}

div.wheel-wrapper img.turn {
    /*animation: spin 0.5s linear infinite;*/
    -webkit-animation: spin 0.5s linear infinite;
    max-width: 100%;
}

div.wheel-container.collapse-wheel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    animation: gobehind 0s linear 1s forwards;
    -webkit-animation: gobehind 0s linear 1s forwards;
}

div.wheel-container .wheel-wrapper.collapse-wheel {
    animation: collapse 1s linear;
    animation-fill-mode: forwards;
}

button.btn-reload {
    display: inline-flex;
    align-items: center;
}

span.loader {
    display: inline-block;
    border: 2px solid rgba(230,230,230,0.3);
    border-top: 2px solid rgba(255,255,255,0.7);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite;
}

span.big-loader {
    display: inline-block;
    border: 15px solid rgba(255,150,192,0.4);
    border-top: 15px solid rgba(255,0,63,0.8);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite;
}

div.iframe-container > div.loading-infos {
    position: absolute;
    left: calc(50% - 60px);
    top: calc(50% - 60px);
}

 div.loading-infos p.loader-text {
     position: absolute;
     width: 100%;
     color: #FF96C0;
     font-weight: bold;
}

div.guess-game-rules {
    text-align: left;
}

div.guess-game-rules blockquote > ul{
    list-style-type: none;
    padding-left: 0px;
}

div.guess-summary span.label,
div.clue-summary span.label {
    margin-right: 5px;
}

div.guess-summary span.label button.close {
    float: none;
    vertical-align: bottom;
}

div.clues-container {
    margin-top: 10px;
}

div.clue-error {
    margin-top: 15px;
}

button.btn-reload span.loader {
    margin-left: 10px;
}

div.share-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

div.share-container button:focus {
    color: white;
}

div.share-container button:not(:last-child) {
    margin-right: 8px;
}

button.btn-fb-share {
    background-color: #4267b2;
    color: white;
}

button.btn-fb-share:hover {
    background-color: #365899;
    color: white;
}

button.btn-tw-share {
    background-color: #1b95e0;
    color: white;
}

button.btn-tw-share:hover {
    background-color: #0c7abf;
    color: white;
}



@keyframes spin {
    from {
        transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
        -webkit-transform: rotateZ(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotateZ(0deg);
    }
    to {
        -webkit-transform: rotateZ(360deg);
    }
}

@keyframes collapse {
    100% {
        transform: scale(0);
    }
}

@-webkit-keyframes collapse {
    100% {
        -webkit-transform: scale(0);
    }
}

@keyframes gobehind {
    100% {
        z-index: -1;
    }
}

@-webkit-keyframes gobehind {
    100% {
        -webkit-z-index: -1;
    }
}
